.Input{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}
h1{
    color: peru;
    size: 70px;
}
button{
    width: 60%;
    padding: 12px 20px;
    background-color: peru;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    width: 70%;
    padding: 12px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* Estilo para el contenedor principal */
.Login-contener {
    width: 400px;
    margin: 0 auto;
    padding: 20px;;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
.Formulario{
    background-color: aqua;
}

a{
    text-decoration: none;
}